.footer{

  border-top: 1px solid #00000050;
  border-bottom: 25px solid #5CBE3A ;
  &__nav{
    padding: 40px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    display: flex;
    column-gap: 69px;
    align-items: center;
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__item{
    @include text(500,22px,140%,#051101)

  }
  &__icons{
    @include text(700,22px,140%,#051101);
    margin-right: 20px;
  }
  &__icon{
    width: 47px;
    height: 47px;
    border-radius:50% ;
    background: #5CBE3A;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}