@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  transition: .5s all;
}

.container {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

$green: #5CBE3A;
$greenLight: #81D066;

@mixin text($fw,$fz,$lh,$cr) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $cr;
}

.btn {
  padding: 15px 30px;
  background: $green;
  border-radius: 4px;
  border: 2px solid $green;
  @include text(500,16px,19px,#fff);
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: transparent;
    border: 2px solid rgba(92, 190, 58, 0.3);
    color: $green;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05110180;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup {
  background: white;
  border: 1px solid $green;
  width: 450px;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    &-label {
      width: 100%;
      input {
        width: 100%;
        height: 40px;
        padding-left: 15px;
        border: 1px solid $green;
        border-radius: 10px;
        outline: none;
      }
    }
    &-btn {
      padding: 10px 40px;
      background: $green;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      border: none;
    }
  }
}



@import "header";
@import "walk";
@import "our";
@import "view";
@import "best";
@import "now";
@import "footer";