.view {
  padding-bottom: 130px;
  &__block {
    position: relative;
  }
  &__title {
    @include text(700,218.216px,130%,#E5F2E1);
    position: absolute;
    top: 20%;
    left: -25%;
    transform: rotate(-90deg);
    z-index: -1;
  }
  &__row {
    display: flex;
    align-items: center;
    padding-left: 45px;
  }
  &__card {
    padding: 143px 158px 182px 98px;
    background: #F6FFF3;
    border-radius: 10px;
    &_video {
      position: relative;
      left: -60px;
      padding: 170px 260px !important;
      background: url("../images/view-play.png") center/cover no-repeat;
    }
    &-title {
      @include text(700, 30px, 130%, #051101);
      margin-bottom: 24px;
    }
    &-desc {
      @include text(400, 16px, 150%, #05110170);
    }
    &-play {
      width: 91px;
      height: 88px;
      border-radius: 50%;
      background: $greenLight;
      position: relative;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


@media (max-width: 1024px) {
  .view__title {
    position: static;
    transform: rotate(0deg);
  }
  .view__card {
    padding: 100px 50px;
  }
  .view__card_video {
    position: static;
    left: 0;
  }
}