.walk {
  padding: 205px 0 77px;
  background: #EBFFE4;
  position: relative;
  &::after {
    content: url("../images/walk-el.svg");
    position: absolute;
    top: 0;
    right: 0;
  }
  &__content {
    display: flex;
    align-items: flex-end;
    column-gap: 45px;
  }
  &__info {
    width: 50%;
    &-suptitle {
      @include text(600,22px,140%,$green);
      text-transform: uppercase;
      display: flex;
      column-gap: 16px;
    }
    &-title {
      @include text(700,61px,120%, #051101);
      margin: 16px 0 26px;
    }
    &-desc {
      @include text(400,17px,150%, #05110170);
      span {
        color: $green;
        font-weight: 600;
      }
    }
    &-price {
      @include text(700,31px,130%, $green);
      display: flex;
      align-items: center;
      column-gap: 40px;
      margin: 15px 0 37px;
      span {
        @include text(600,25px,120%, $greenLight);
        text-decoration: line-through;
      }
    }
    &-btns {
      display: flex;
      column-gap: 30px;
      margin-bottom: 84px;
    }
    &-leads {
      display: flex;
      column-gap: 68px;
    }
    &-sum {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 6px;
      @include text(700,85px,120%,$green);
      span {
        @include text(500,16px,150%,#05110170);
      }
    }
  }
  &__right {
    width: 50%;
  }
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;

  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 115px !important;
    height: 115px !important;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #BEE761;
    padding: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    background: #B6E247;
    border: 1px solid #F5F5F5;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}


@media (max-width: 1024px) {
  .walk__info {
    position: relative;
    z-index: 4;
  }
}